/* Styling for the login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px; 
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    position: relative; 
  }
  
.login-container h1 {
  font-size: 30px;
  margin-top: 30px; /* Add some space at the top */
}

button {
  padding: 10px 30px;
  width: 220px;
  font-size: 16px;
  color: white;
  border: none;
  height: 40px;
}

.login-button {
  background-color: #004d40; /* Teal color */
}

/* Hover effects */
button:hover {
  opacity: 0.9;
}

/* Adjust font color and size */
button:active {
  transform: scale(0.98);
  transition: all 0.2s;
}

.input-container label {
  font-size: 16px;
  width: 80px;
  text-align: left;
  color: #333;
}

.input-container input {
  margin-top: 100px;
  margin-left: 8px;
  width: 60%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

  