/* mood selection container */
.mood-container {
  margin-top: 100px;
  text-align: center;
}

.mood-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Control spacing between items */
  max-width: 600px; /* Optional: restrict maximum width */
  margin-left: auto; /* Center alignment */
  margin-right: auto; /* Center alignment */
}

.mood-item {
  background-color: #f0f0f0;
  color: #333;
  margin-top: 50px;
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.mood-item.active {
  color: #4CAF50;
}

.mood-item:hover {
  background-color: #ddd;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 100px;
  gap: 10px;
}

.back-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.next-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.get-recommendation-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
